/*

COLOR OPTIONS:
- yellow orange: rgba(255,174,66,1);
- amber: rgba(255,191,0,1);
    complemented: #0b62a4;
    accented: #530fad;
- golden orange: rgba(235,165,61,1);

*/


/* resets and app css */
* {
    box-sizing: border-box;
}

body {
    margin-top: 56px; /* clears the fixed nav */
    overflow-x: hidden;

    color: #444;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}



/* override bootstrap btn-outline-primary colors */
.btn {
    width: 100%;
}
.btn-outline-primary {
    border-color: #0b62a4;
    color: #0b62a4;
}
.btn-primary {
    background: #0b62a4;
    border-color: #0b62a4;
}
.btn-outline-primary:hover {
    background: #0b62a4;
    border-color: #0b62a4;
    color: #fff;
}



/* custom style class */

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.header-text {
    color: rgba(255,174,66,1);
    font-size: 3rem;
    letter-spacing: -3.5px;
}
.header-subtext {
    font-size: 1.5rem;
    margin: 1.75rem 0;
}
.primary-background {
    background-color: rgba(255,174,66,1);
}

a,
.navbar-light .navbar-nav .nav-link {
    color: #444;
}
a:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #0b62a4;
    text-decoration: none;
}

.component-margin {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.inner-margin {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.inner-padding {
    padding: 2.5rem;
}

.portfolio-font-color {
    color: #cacaca;
    text-shadow: 1px 1px 2px #222;
    font-size: 1.8rem;
}

.custom-container {
    padding-right: 9vw;
    padding-left: 9vw;

    height: 110vh;
    min-height: 250px;

    display: flex;
    align-items: center;
}
.header-invasion-margin-top {
    margin-top: -90px;
}


/* navigation */
nav {
    background: rgba(255,255,255,0.95);
}

.navbar-light .navbar-nav .nav-link {
    color: #444;
}



/* Header rules */
.app-header h1 {
    font-size: 5rem;
    letter-spacing: .25rem;
    line-height: 4.8rem;
}



/* Portfolio rules */
.card-deck {
    margin-left: 4rem;
    margin-right: 4rem;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
}

.portfolio-card-link,
.card-img-top {
    border: none;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    height: 100%;
    width: auto;
}

.card-deck .portfolio-card-link {
    height: 65vh;
}
.card-deck .portfolio-card-link:first-child {
    margin-left: 0;
}
.card-deck .portfolio-card-link:last-child {
    margin-right: 0;
}

.portfolio-title {
    text-align: center;
}

.card-title {
    font-size: 2rem;
}

.card-text {
    font-size: 1rem;
}

.portfolio-card-link {
    overflow: hidden;
}

.portfolio-card-link img {
    transition: all .15s ease-in;
}

.portfolio-card-link:hover img {
    transform: scale(1.25);
}

/* link to github */
.see-more-card,
.see-more-card i {
    justify-content: center;

    transition: all .2s;
}
.see-more-card:hover {
    background: #530fad;
    color: #fff;
}
.see-more-card i {
    color: #530fad;
    margin-bottom: 2.5rem;
}
.see-more-card:hover i {
    color: #fff;
}



/* About rules */
.about-header {
    border: 1rem solid rgba(255,174,66,1);
    height: 90vh;
    min-height: 250px;
    align-items: flex-start;
}

.about-header h1 {
    color: #444;
}

.about-header h2 {
    color: rgba(255,174,66,1);
}

.about-card-group {
    margin-right: 5rem;
    margin-left: 5rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid rgba(255,174,66,.25);
}

.about-card {
    border: none;
    justify-content: center;
    border-right: 1px solid rgba(255,174,66,.25);
}
.about-card:last-child {
    border-right: none;
}

.about-card p {
    text-align: center;
}

.about-card:last-child {
    margin-bottom: inherit;
}


/* Contact rules */
.contact-header {
    position: relative;
    left: 2rem;
}
.contact-header:after,
.about-header div:after {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: black;
}

.contact-icons div {
    margin-top: 2em;
    margin-bottom: 2em;
}

.contact-info-boxes {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
}

.contact-info-box {
    margin-left: 0;
    margin-right: 0;
    width: 50%;
}
.contact-info-box i {
    transition: all .2s;
}
.contact-info-box:hover i {
    color: #530fad;
}

.contact-info-i {
    margin-bottom: 1em;
}

.custom-contact iframe {
    width: 100%;
    height: 60vh;
    border: 0;
}



/*  Footer rules */
.custom-footer {
    margin: 2.5rem;
}

.custom-footer a {
    color: #0b62a4;
}
.custom-footer a:hover {
    color: #444;
}



/* tablet */
@media (max-width: 768px) {
    .card-deck {
        flex-flow: column;
        margin: 0;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .card-deck .portfolio-card-link {
        margin: 0;
        margin-bottom: 1rem;
        height: 92vh;
    }
    .card-group>.card {
        flex: none;
        margin-bottom: 2.5rem;
    }
    .card-group>.card:last-child {
        margin-bottom: 0;
    }
    .about-card-group {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .about-card {
        border-right: none;
        border-bottom: 1px solid rgba(255,174,66,.25);
    }
    .about-card:last-child {
        border-bottom: none;
    }
}



/* mobile */
@media (max-width: 576px) {
    .card-deck {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .card-deck .portfolio-card-link {
        height: 75vh;
    }
    .contact-icons div:last-child {
        margin-bottom: 0;
    }
}