/*

COLOR OPTIONS:
- yellow orange: rgba(255,174,66,1);
- amber: rgba(255,191,0,1);
    complemented: #0b62a4;
    accented: #530fad;
- golden orange: rgba(235,165,61,1);

*/

* {
    box-sizing: border-box;
}

body {
    border: 5px solid #222;
    color: #444;
    font-family: Verdana, sans-serif;
}


/* override bootstrap btn-outline-primary colors */
.btn {
    width: 100%;
}
.btn-outline-primary {
    border-color: #0b62a4;
    color: #0b62a4;
}
.btn-outline-primary:hover {
    background: #0b62a4;
    color: #fff;
}


.custom-container {
    background: rgba(255,191,0,1);
    padding-right: 9vw;
    padding-left: 9vw;
    height: 110vh;
    min-height: 250px;

    display: flex;
    align-items: center;
}
.custom-header h1,
.custom-header h2 {
    margin: 0;
    padding: 0;
}
.custom-header h1 {
    font-size: 5rem;
    letter-spacing: .25rem;
    line-height: 4.8rem;
}
.custom-header h2 {
    font-size: 1.4rem;
    margin: 2rem 0;
}

.custom-portfolio,
.custom-contact {
    height: 80vh;
}